= form_with(model: internet, local: true, class: 'container', id: 'needs-validation', :html => {:novalidate => true}) do |form|
  -# Show errors as needed
  - if internet.errors.any?
    #error_explanation
      %h2
        = pluralize(internet.errors.count, "error")
        prohibited this internet from being saved:
      %ul
        - internet.errors.full_messages.each do |message|
          %li= message

  -# Begnining of form
    -# <%= f.select :country_id, grouped_options_for_select(@continents.map{ |group| [group.name, group.countries.map{ |c| [c.name, c.id, {'data-currency_code'=>c.currency_code}] } ] }, selected_key = f.object.country_id) %>

  .form-row
    .form-group.col-md-6
      = form.label :cable_provider, class: 'control-label required'
      #isps= form.collection_select :cable_provider,
                                @providers,
                                :id, :name,  { prompt: true } ,
                                { class: 'form-control selectpicker' }


    .form-group.col-md-6
      = form.label :number_computers
      -# = form.range_field :number_computers, id: :internet_number_computers, in:1..50, class: 'form-control'
      = select_tag :number_computers,
                    options_for_select([ ['1-5', 1], ['6-10', 2], ['11-15', 3], ['16+', 5] ]),
                    include_blank: 'Please Choose',
                    class: 'form-control selectpicker'

    .form-group.col-md-6#otherisp.collapse
      %input.form-control{ name: 'other', placeholder:  'Other Provider', type: 'email', placeholder: '' }/
      %small.form-text.text-muted Please provide the name of the ISP if it is not on the above list.

  %hr/

  .form-row
    .form-group.col-md-6
      = form.label :first_name, class: 'control-label required'
      = form.text_field :first_name, id: :internet_first_name, class: 'form-control', required: true
      .invalid-feedback Please provide your First Name
    .form-group.col-md-6
      = form.label :last_name, class: 'control-label required'
      = form.text_field :last_name, id: :internet_last_name, class: 'form-control', required: true
      .invalid-feedback Please provide your Last Name

  .form-group
    = form.label :email, class: 'control-label required'
    = form.email_field :email, id: :internet_email, class: 'form-control', required: true

  .form-group
    = form.label :phone, class: 'control-label required'
    = form.telephone_field :phone, id: :internet_phone, class: 'form-control', required: true

  .form-row
    .form-group.col-md-6
      = form.label :best_time
      = select_tag :best_time,
                    options_for_select([ ['Morning', 1], ['Afternoon', 2], ['Evening', 2] ]),
                    include_blank: 'Please Choose',
                    class: 'form-control selectpicker'
    .form-group.col-md-6
      = form.label :best_way
      = select_tag :best_way,
                    options_for_select([ ['Phone', 1], ['Email', 2] ]),
                    include_blank: 'Please Choose',
                    class: 'form-control selectpicker'

  %hr/

  .form-group
    = form.label :business_name, class: 'control-label required'
    = form.text_field :business_name, id: :internet_business_name, class: 'form-control'

  .form-group
    = form.label :business_phone, class: 'control-label required'
    = form.telephone_field :business_phone, id: :internet_business_phone, class: 'form-control'

  .form-group
    = form.label :street_address_1, class: 'control-label required'
    = form.text_field :street_address_1, id: :internet_street_address_1, class: 'form-control'
  .form-group
    = form.label :street_address_2
    = form.text_field :street_address_2, id: :internet_street_address_2, class: 'form-control'

  .form-row
    .form-group.col-md-6
      = form.label :city, class: 'control-label required'
      = form.text_field :city, id: :internet_city, class: 'form-control'
    .form-group.col-md-3
      = form.label :state, class: 'control-label required'
      = form.select :state, options_for_select(us_states), {}, {id: :internet_state, class: 'form-control selectpicker'}


    .form-group.col-md-3
      = form.label :zip, class: 'control-label required'
      = form.text_field :zip, id: :internet_zip, class: 'form-control'

  .form-group
    = form.label :interested, class: 'form-check-label' do
      = form.check_box :interested, id: :internet_interested, class: 'form-check-input'
      I Am Also Interested In A Free Telephone System

  .form-group
    .g-recaptcha{ 'data-sitekey': '6LelDDMUAAAAAGBBqJVyTMwgh2UpnhwhGJKR6w3d' }
    -# Captcha
    %script{ src: 'https://www.google.com/recaptcha/api.js' }

  .form-group
    = form.submit 'Send Request', class: 'btn btn-info btn-lg'
