= form_with(model: internet, local: true, class: 'container', id: 'needs-validation', :html => {:novalidate => true}) do |form|
  -# Show errors as needed
  - if internet.errors.any?
    #error_explanation
      %h4
        = pluralize(internet.errors.count, "error")
        prohibited this internet from being saved:
      %ul
        - internet.errors.full_messages.each do |message|
          %li= message

  -# Begnining of form

  .form-group
    = form.label :provider_id, class: 'control-label required'
    #isps= form.select :provider_id,
                options_for_select(Provider.all.map { |obj| [obj['name'], obj['id']] } + [['Other', 999]] ),
                 { prompt: true, }, { class: 'form-control selectpicker' }

  .form-group#otherisp.collapse
    %input.form-control{ name: 'other', placeholder:  'Other Provider' }/
    %small.form-text.text-muted Please provide the name of the ISP if it is not on the above list.


  .form-row
    .from-group.col-md-4
      = form.label :want_internet, class: 'form-check-label' do
        = form.check_box :want_internet, id: :internet_want_internet, class: 'form-check-input'
        Internet
      = form.select :number_computers,
                    options_for_select([ ['1-5', 1], ['6-10', 2], ['11-15', 3], ['16+', 5] ]),
                    { prompt: 'Number of Computers' },
                    { class: 'form-control selectpicker collapse', id: :internet_number_computers}

    .from-group.col-md-4
      = form.label :want_television, class: 'form-check-label' do
        = form.check_box :want_television, id: :internet_want_television, class: 'form-check-input'
        Television
      = form.select :number_televisions,
                    options_for_select([ ['1-5', 1], ['6-10', 2], ['11-15', 3], ['16+', 5] ]),
                    { prompt: 'Number of Televisions' },
                    { class: 'form-control selectpicker collapse', id: :internet_number_televisions}

    .from-group.col-md-4
      = form.label :want_phone, class: 'form-check-label' do
        = form.check_box :want_phone, id: :internet_want_phone, class: 'form-check-input'
        Phones
      = form.select :number_phones,
                    options_for_select([ ['1-5', 1], ['6-10', 2], ['11-15', 3], ['16+', 5] ]),
                    { prompt: 'Number of Phones' },
                    { class: 'form-control selectpicker collapse' , id: :internet_number_phones}


  %hr.my-5/

  .form-row
    .form-group.col-md-6
      = form.label :first_name, class: 'control-label required'
      = form.text_field :first_name, id: :internet_first_name, class: 'form-control', required: true
      .invalid-feedback Please provide your First Name
    .form-group.col-md-6
      = form.label :last_name, class: 'control-label required'
      = form.text_field :last_name, id: :internet_last_name, class: 'form-control', required: true
      .invalid-feedback Please provide your Last Name

  .form-group
    = form.label :email, class: 'control-label required'
    = form.email_field :email, id: :internet_email, class: 'form-control', required: true

  .form-group
    = form.label :phone, class: 'control-label required'
    = form.telephone_field :phone, id: :internet_phone, class: 'form-control', required: true

  .form-row
    .form-group.col-md-6
      = form.label :best_time
      = form.select :best_time,
                    options_for_select([ ['Morning', 'Morning'], ['Afternoon', 'Afternoon'], ['Evening', 'Evening'] ]),
                    {include_blank: 'Please Choose'},
                    {class: 'form-control selectpicker'}
    .form-group.col-md-6
      = form.label :best_way
      = form.select :best_way,
                    options_for_select([ ['Phone', 'Phone'], ['Email', 'Email'] ]),
                    {include_blank: 'Please Choose'},
                    {class: 'form-control selectpicker'}

  %hr.my-5/

  .form-group
    = form.label :business_name, class: 'control-label required'
    = form.text_field :business_name, id: :internet_business_name, class: 'form-control'

  .form-group
    = form.label :business_phone, class: 'control-label required'
    = form.telephone_field :business_phone, id: :internet_business_phone, class: 'form-control'

  .form-group
    = form.label :street_address_1, class: 'control-label required'
    = form.text_field :street_address_1, id: :internet_street_address_1, class: 'form-control'
  .form-group
    = form.label :street_address_2
    = form.text_field :street_address_2, id: :internet_street_address_2, class: 'form-control'

  .form-row
    .form-group.col-md-6
      = form.label :city, class: 'control-label required'
      = form.text_field :city, id: :internet_city, class: 'form-control'
    .form-group.col-md-3
      = form.label :state, class: 'control-label required'
      = form.select :state, options_for_select(us_states), {}, {id: :internet_state, class: 'form-control selectpicker'}

    .form-group.col-md-3
      = form.label :zip, class: 'control-label required'
      = form.text_field :zip, id: :internet_zip, class: 'form-control'

  .form-group
    = form.label :interested, class: 'form-check-label' do
      = form.check_box :interested, id: :internet_interested, class: 'form-check-input'
      I Am Also Interested In A Free Telephone System

  -# .form-group
  -#   .g-recaptcha{ 'data-sitekey': '6LelDDMUAAAAAGBBqJVyTMwgh2UpnhwhGJKR6w3d' }
  -#   -# Captcha
  -#   %script{ src: 'https://www.google.com/recaptcha/api.js' }

  .form-group
    = form.submit 'Send Request', class: 'btn btn-info btn-lg'
