%p#notice= notice
%h1 Internets
%table
  %thead
    %tr
      %th Cable provider
      %th Number computers
      %th First name
      %th Last name
      %th Email
      %th Phone
      %th Best time
      %th Best way
      %th Business name
      %th Business phone
      %th Street address 1
      %th Street address 2
      %th City
      %th State
      %th Zip
      %th Interested
      %th{:colspan => "3"}
  %tbody
    - @internets.each do |internet|
      %tr
        %td= internet.cable_provider
        %td= internet.number_computers
        %td= internet.first_name
        %td= internet.last_name
        %td= internet.email
        %td= internet.phone
        %td= internet.best_time
        %td= internet.best_way
        %td= internet.business_name
        %td= internet.business_phone
        %td= internet.street_address_1
        %td= internet.street_address_2
        %td= internet.city
        %td= internet.state
        %td= internet.zip
        %td= internet.interested
        %td= link_to 'Show', internet
        %td= link_to 'Edit', edit_internet_path(internet)
        %td= link_to 'Destroy', internet, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Internet', new_internet_path
