-# = link_to 'Back', internets_path
%h1
  = @internet.provider.name + ' order for ' + @internet.first_name + ' ' + @internet.last_name
  = ' at ' + @internet.business_name unless @internet.business_name == ''

%ul
  %li=@internet.want_internet
  %li=@internet.number_computers
  %li=@internet.want_television
  %li=@internet.number_televisions
  %li=@internet.want_phone
  %li=@internet.number_phones

%p
  Is
  = ' NOT ' unless @internet.interested
  intersested in VOIP.

%hr/

.row
  .col-md-6
    %h2 Contact
    %ul.list-unstyled
      %li= @internet.first_name + ' ' + @internet.last_name
      %li= mail_to @internet.email
      %li= tel_to @internet.phone

  .col-md-6
    %h2 Business Info
    %ul.list-unstyled
      %li= @internet.business_name
      %li= @internet.business_phone
      %li= @internet.street_address_1
      - unless  @internet.street_address_2 == ''
        %li= @internet.street_address_2
      %li= @internet.city + ', ' + @internet.state + ' ' + @internet.zip

%hr/

= link_to 'Edit', edit_internet_path(@internet), class: 'btn btn-success'
= link_to 'Destroy', @internet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'