%h1 VOIP Sign Ups

%table.table.table-hover.w-100
  %thead.thead-inverse
    %tr
      %th Order
      %th Name
      -# %th Email
      -# %th Phone
      %th Business
      -# %th Street address 1
      -# %th Street address 2
      %th Location
      -# %th Zip
      -# %th Best time
      -# %th Best way
      -# %th ISP?
      %th{ style: 'width: 1%; white-space: no-wrap;' }
  %tbody
    - @voips.each do |voip|
      %tr
        %td
          = voip.number_phones.to_s + ' ' + voip.phone_choice
          = 's' if voip.number_phones > 1
        %td= link_to voip.first_name + ' ' + voip.last_name, voip
        -# %td= mail_to voip.email
        -# %td= tel_to voip.phone
        %td= voip.business_name
        -# %td= voip.street_address_1
        -# %td= voip.street_address_2
        %td= voip.city + ', ' + voip.state
        -# %td= voip.zip
        -# %td= voip.best_time
        -# %td= voip.best_way
        -# %td= voip.also_interested
        %td
          -# = link_to 'Show', voip, class: 'btn btn-warning btn-sm'
          -# = link_to 'Edit', edit_voip_path(voip)
          = link_to 'Destroy', voip, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'