%p
  %strong Phone choice:
  = @voip.phone_choice
%p
  %strong First name:
  = @voip.first_name
%p
  %strong Last name:
  = @voip.last_name
%p
  %strong Email:
  = @voip.email
%p
  %strong Phone:
  = @voip.phone
%p
  %strong Business name:
  = @voip.business_name
%p
  %strong Number phones:
  = @voip.number_phones
%p
  %strong Street address 1:
  = @voip.street_address_1
%p
  %strong Street address 2:
  = @voip.street_address_2
%p
  %strong City:
  = @voip.city
%p
  %strong State:
  = @voip.state
%p
  %strong Zip:
  = @voip.zip
%p
  %strong Best time:
  = @voip.best_time
%p
  %strong Best way:
  = @voip.best_way
%p
  %strong Also interested:
  = @voip.also_interested
= link_to 'Edit', edit_voip_path(@voip)
|
= link_to 'Back', voips_path
