%ul.container.d-flex.flex-wrap.p-2#lkj
  %li= image_tag 'icos/add.png'
  %li= image_tag 'icos/bar-chart.png'
  %li= image_tag 'icos/binoculars.png'
  %li= image_tag 'icos/browser.png'
  %li= image_tag 'icos/bug.png'
  %li= image_tag 'icos/chat-1.png'
  %li= image_tag 'icos/chat-2.png'
  %li= image_tag 'icos/chat.png'
  %li= image_tag 'icos/cloud-computing-1.png'
  %li= image_tag 'icos/cloud-computing.png'
  %li= image_tag 'icos/compass-1.png'
  %li= image_tag 'icos/compass.png'
  %li= image_tag 'icos/computer-1.png'
  %li= image_tag 'icos/computer.png'
  %li= image_tag 'icos/connection-1.png'
  %li= image_tag 'icos/connection.png'
  %li= image_tag 'icos/desk.png'
  %li= image_tag 'icos/directions.png'
  %li= image_tag 'icos/dislike.png'
  %li= image_tag 'icos/dollar-symbol-1.png'
  %li= image_tag 'icos/dollar-symbol.png'
  %li= image_tag 'icos/download.png'
  %li= image_tag 'icos/email.png'
  %li= image_tag 'icos/group-1.png'
  %li= image_tag 'icos/group-2.png'
  %li= image_tag 'icos/group.png'
  %li= image_tag 'icos/handshake.png'
  %li= image_tag 'icos/head.png'
  %li= image_tag 'icos/hierarchical-structure.png'
  %li= image_tag 'icos/invoice.png'
  %li= image_tag 'icos/laptop-1.png'
  %li= image_tag 'icos/laptop-2.png'
  %li= image_tag 'icos/laptop.png'
  %li= image_tag 'icos/like-1.png'
  %li= image_tag 'icos/like-2.png'
  %li= image_tag 'icos/like-3.png'
  %li= image_tag 'icos/like-4.png'
  %li= image_tag 'icos/like-5.png'
  %li= image_tag 'icos/like.png'
  %li= image_tag 'icos/list-1.png'
  %li= image_tag 'icos/list.png'
  %li= image_tag 'icos/money-1.png'
  %li= image_tag 'icos/money.png'
  %li= image_tag 'icos/mouse-1.png'
  %li= image_tag 'icos/mouse-2.png'
  %li= image_tag 'icos/mouse.png'
  %li= image_tag 'icos/network-1.png'
  %li= image_tag 'icos/network.png'
  %li= image_tag 'icos/networking-1.png'
  %li= image_tag 'icos/networking-2.png'
  %li= image_tag 'icos/networking-3.png'
  %li= image_tag 'icos/networking-4.png'
  %li= image_tag 'icos/networking-5.png'
  %li= image_tag 'icos/networking.png'
  %li= image_tag 'icos/next.png'
  %li= image_tag 'icos/office-block.png'
  %li= image_tag 'icos/package.png'
  %li= image_tag 'icos/padlock-1.png'
  %li= image_tag 'icos/padlock.png'
  %li= image_tag 'icos/pencil.png'
  %li= image_tag 'icos/people.png'
  %li= image_tag 'icos/pie-chart-1.png'
  %li= image_tag 'icos/pie-chart.png'
  %li= image_tag 'icos/piggy-bank-1.png'
  %li= image_tag 'icos/piggy-bank.png'
  %li= image_tag 'icos/placeholder.png'
  %li= image_tag 'icos/presentation.png'
  %li= image_tag 'icos/previous.png'
  %li= image_tag 'icos/printer.png'
  %li= image_tag 'icos/refresh.png'
  %li= image_tag 'icos/route.png'
  %li= image_tag 'icos/search.png'
  %li= image_tag 'icos/security.png'
  %li= image_tag 'icos/server.png'
  %li= image_tag 'icos/settings-1.png'
  %li= image_tag 'icos/settings-2.png'
  %li= image_tag 'icos/settings-3.png'
  %li= image_tag 'icos/settings.png'
  %li= image_tag 'icos/sharing.png'
  %li= image_tag 'icos/shopping-bag-1.png'
  %li= image_tag 'icos/shopping-bag.png'
  %li= image_tag 'icos/smartphone-1.png'
  %li= image_tag 'icos/smartphone.png'
  %li= image_tag 'icos/speech-bubble.png'
  %li= image_tag 'icos/startup.png'
  %li= image_tag 'icos/strategy.png'
  %li= image_tag 'icos/target.png'
  %li= image_tag 'icos/team.png'
  %li= image_tag 'icos/teamwork.png'
  %li= image_tag 'icos/transfer-1.png'
  %li= image_tag 'icos/transfer-2.png'
  %li= image_tag 'icos/transfer-3.png'
  %li= image_tag 'icos/transfer.png'
  %li= image_tag 'icos/upload.png'
  %li= image_tag 'icos/user-1.png'
  %li= image_tag 'icos/user-10.png'
  %li= image_tag 'icos/user-11.png'
  %li= image_tag 'icos/user-12.png'
  %li= image_tag 'icos/user-13.png'
  %li= image_tag 'icos/user-14.png'
  %li= image_tag 'icos/user-15.png'
  %li= image_tag 'icos/user-16.png'
  %li= image_tag 'icos/user-17.png'
  %li= image_tag 'icos/user-18.png'
  %li= image_tag 'icos/user-19.png'
  %li= image_tag 'icos/user-2.png'
  %li= image_tag 'icos/user-3.png'
  %li= image_tag 'icos/user-4.png'
  %li= image_tag 'icos/user-5.png'
  %li= image_tag 'icos/user-6.png'
  %li= image_tag 'icos/user-7.png'
  %li= image_tag 'icos/user-8.png'
  %li= image_tag 'icos/user-9.png'
  %li= image_tag 'icos/user.png'
  %li= image_tag 'icos/worldwide-1.png'
  %li= image_tag 'icos/worldwide-2.png'
  %li= image_tag 'icos/worldwide.png'
  %li= image_tag 'icos/wrench.png'
  %li= image_tag 'icos/wristwatch.png'

:scss
  #lkj{
    list-style: none;
    li{
      padding: 1em;
      img{
        width: 100px;
      }
    }
  }

:javascript

  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
  $.src="https://v2.zopim.com/?5YTR2OIl44vigQIvCQzYt8XL0jJCDCE5";z.t=+new Date;$.
  type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
