<%= form_with(model: referrer, local: true) do |form| %>
  <% if referrer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(referrer.errors.count, "error") %> prohibited this referrer from being saved:</h2>

      <ul>
      <% referrer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :referrer_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
