%h1 Referrers

%table.table.table.table-hover
  %thead.thead-inverse
    %tr
      %th Name
      %th Order
      %th{ style: 'width: 1%; white-space: no-wrap;' }
  %tbody
    - @referrers.each do |referrer|
      %tr
        %td= link_to edit_referrer_path(referrer), referrer
        %td= referrer.zorder
        %td{ style: 'width: 1%; white-space: nowrap;' }
          = link_to 'Edit', edit_referrer_path(referrer), class: 'btn btn-warning btn-sm'
          = link_to 'Destroy', referrer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'

= link_to 'New Referrer', new_referrer_path, class: 'btn btn-primary'
