!!!
%html{ lang: 'en' }
  %head

    %meta{ charset: 'utf-8' }/
    %meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport' }/

    -# Variable Meta Data
    = render partial: '/layouts/meta'

    -# Favicons
    %link{ href: '/favicon.ico', rel: 'icon', type: 'image/x-icon' }/

    %link{ rel: 'dns-prefetch', href: 'https://www.googletagmanager.com' }
    %link{ rel: 'dns-prefetch', href: '//fonts.googleapis.com' }

    -# Rails imports
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body

    / Google Tag Manager (noscript)
    %noscript
      %iframe{ height: 0, width: 0, src: 'https://www.googletagmanager.com/ns.html?id=GTM-MTB2KDG', style: 'display:none;visibility:hidden' }
    / End Google Tag Manager (noscript)

    %nav.fixed-top
      %header
        .text-center
          -# =link_to image_tag('logo2.png'), root_path
          %a{ href: '/' }= render partial: '/layouts/svglogo'
        = render partial: '/layouts/nav'

    .container-fluid

      - if flash[:danger]
        .alert.alert-danger.alert-dismissible.fade.show{ role: 'alert' }
          = flash[:danger]
          %button.close{ 'aria-label': 'Close', 'data-dismiss': 'alert', type: 'button' }
            %span{ 'aria-hidden': true } ×

      - if notice
        .alert.alert-success{ role: 'alert' }= notice

      =yield

    .container.partners.pt-4= render partial: '/layouts/partners'

    %footer.mt-5
      .container
        %p.text-center.text-muted
          Powered by
          %a.text-info{ href: 'http://maxsip.com' } Maxsip
          &copy; |
          %a.text-info.tandcapply#tosmodalbtn{ 'data-href': '/tos', 'data-toggle': 'modal', 'data-target': '#exampleModalLong' } Terms and Condition

    / Terms and Conditions Modal
    #exampleModalLong.modal.fade{ 'aria-hidden': 'true', 'aria-labelledby': 'exampleModalLongTitle', role: 'dialog', tabindex: '-1' }
      .modal-dialog.modal-lg{ role: 'document' }
        .modal-content
          .modal-header
            %h5#exampleModalLongTitle.modal-title Terms and Conditions
            %button.close{ 'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button' }
              %span{'aria-hidden': 'true' } ×
          .modal-body
          .modal-footer
            %button.btn.btn-info{ 'data-dismiss': 'modal', type: 'button' } Close

    / Global Site Tag (gtag.js) - Google Analytics
    %script{ async: '', src: 'https://www.googletagmanager.com/gtag/js?id=UA-107489713-1' }
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-107489713-1');